<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet'  href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      <div>
        <ul class="header">
          <li class="left-header"><b>TASK MANAGER</b></li>
          {% if not signup %}
          <li><a href="/sign_up">Sign up</a></li>
          {% endif %}
          {% if not logout %}
          <li><a href="/logout">Logout</a></li>
          {% endif %}
          {% if not login %}
          <li><a href="/login">Login</a></li>
          {% endif %}
          {% if not home %}
          <li><a  class="active" href="/">Home</a></li>
          {% endif %}
        </ul>
      </div>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>